header {
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  height: 6rem;
  background-color: $background-color-white;

  .header_inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 6rem;

    .nav_list {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2.6rem 2.4rem;
      color: $color-gray-basic;
      
      .logo {
        padding-left: 18px;

        a {
          font-size: 1.6rem;
          font-weight: 800;
          color: $color-gray-basic;
        }

      }

      .menu {
        z-index: 99;

        .menu_btn {
          position: relative;
          width: 6.8rem;
          height: 4.8rem;
          display: flex;
          justify-content: center;
          flex-direction: column;
          cursor: pointer;
          z-index: 99;

          @include mq('1024') {
            width: 7.8rem;
          }

          @include mq('980') {
            width: 8.8rem;
          }

          @include mq('768') {
            width: 9.8rem;
          }

          @include mq('480') {
            width: 11.8rem;
          }

          p {
            position: absolute;
            left: 0;
            font-size: 1.2rem;
            font-weight: 800;
            color: $font-color_light;
          }

          .menu_line {
            position: absolute;
            right: 0;
            background-color: #000;
            width: 2rem;
            height: 1.6px;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -ms-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
          }

          .t_line {
            margin-top: 12px;

            @include mq('980') {
              margin-top: 10.6px;
            }
            @include mq('768') {
              margin-top: 9.6px;
            }

            @include mq('480') {
              margin-top: 8px;
            }
          }

          &.active .t_line {
            margin-top: 0;
            transform: rotate(45deg);
          }

          .b_line {
            margin-top: -12px;

            @include mq('980') {
              margin-top: -10.6px;
            }

            @include mq('768') {
              margin-top: -9.6px;
            }

            @include mq('480') {
              margin-top: -8px;
            }
          }

          &.active .b_line {
            margin-top: 0;
            transform: rotate(-45deg);
          }

        }

        .menu_wrap {
          position: fixed;
          width: 100%;
          height: 100vh;
          top: 0;
          left: 0;
          background-color: $backgournd-color-light;
          opacity: 0;
          visibility: hidden;
          -webkit-transition: all .5s ease-in-out;
          -moz-transition: all .5s ease-in-out;
          -ms-transition: all .5s ease-in-out;
          -o-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
          display: block;
          -webkit-transform: translateX(-100%);
          -moz-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
          -o-transform: translateX(-100%);
          transform: translateX(-100%);

          &.active {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
          }

          .nav {
            width: 100%;
            height: 100vh;
            position: relative;
            margin: 0 auto;

            .menu_list {
              width: 100%;
              height: 100%;
              display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
              

              li {
                width: 100%;
                overflow: hidden;
                text-align: center;

                a {
                  position: relative;
                  display: inline-block;
                  height: 100%;
                  padding: 2.5rem;
                  font-size: 4.4rem;
                  font-weight: 900;
                  color: $color-gray-basic;

                  &::after {
                      content: "";
                      position: absolute;
                      top: 50%;
                      margin-top: -2px;
                      left: 0;
                      width: 0px;
                      height: 16px;
                      background: rgba(255, 248, 105, 0.8);
                      transition: all .3s;
                      transition-delay: .2s;
                      transform: rotate(10deg);
                    }
                    &:hover::after {
                      width: 100%;
                    }
                }
              }
            }
          }
        }
      }
    }
  }
}