$color-gray-basic: #2a2a2a;

$font-color_light: #5e5e5e;
$font-color-blue: #79a7eb;
$font-color-white: #fff;

$background-color-white: #f5f5f7;
$background-color-main: #f9f6f4;
$backgournd-color-light: #dbeaff;

$color-main-point: #79a7eb;